<app-header></app-header>

<div class="container-gral">

  <!-- Título del juego -->
  <p class="titulo-juego">Melodía Olvidadiza</p>

  <!-- Puntaje e Intentos -->
  <div class="stats-container">
    <div class="info-box">Puntaje: {{ puntos }}</div>
    <div class="info-box">Intentos: {{ intentos }}</div>
  </div>

  <!-- Botón para iniciar -->
  <button 
    (click)="generarSecuencia(3)" 
    class="btn-generar"
    [style.visibility]="!juegoIniciado ? 'visible' : 'hidden'">
    Generar Secuencia
  </button>

<!-- Mensaje (si no hay, igual mantiene el lugar) -->
<div 
  class="mensaje" 
  [style.visibility]="mensaje ? 'visible' : 'hidden'">
  {{ mensaje }} <!-- carácter invisible para evitar colapso -->
</div>

<!-- Botón Reintentar (oculto visualmente, pero ocupa lugar) -->
<button 
  class="btn-reintentar" 
  (click)="reiniciarJuego()"
  [style.visibility]="intentos === 0 ? 'visible' : 'hidden'">
  Jugar de Nuevo
</button>


  <!-- Teclado -->
  <div class="piano">
    <div 
      class="nota" 
      *ngFor="let nota of notas" 
      (click)="!verificandoNotas && tocarNota(nota)" 
      [class.desactivada]="verificandoNotas">
      {{ nota }}
    </div>
  </div>

</div>
