<app-header></app-header>

<div class="container-gral">

  <p class="titulo-juego">Melodía Olvidadiza</p>

  <div class="stats-container">
    <div class="info-box">Puntaje: {{ puntos }}</div>
    <div class="info-box">Intentos: {{ intentos }}</div>
  </div>

  <button class="btn-generar" (click)="usarColores = !usarColores">
    {{ usarColores ? 'Desactivar colores' : 'Activar colores' }}
  </button>


  <button 
    (click)="generarSecuencia(3)" 
    class="btn-generar"
    [style.visibility]="!juegoIniciado ? 'visible' : 'hidden'">
    Generar Secuencia
  </button>

  <button class="btn-generar" (click)="botonApretadoSecuencia = !botonApretadoSecuencia">
    {{ botonApretadoSecuencia ? 'Ocultar secuencia en teclas' : 'Mostrar secuencia en teclas' }}
  </button>
  <div class="config-sonido">
    <label>
      Tipo de Onda:
      <select [(ngModel)]="tipoOnda">
        <option value="sine">Sinusoidal</option>
        <option value="square">Cuadrada</option>
        <option value="triangle">Triangular</option>
        <option value="sawtooth">Diente de sierra	</option>
      </select>
    </label>

    <label>
      <input type="checkbox" [(ngModel)]="usarDelay" />
      Delay
    </label>
  </div>
  <div 
    class="mensaje" 
    [style.visibility]="mensaje ? 'visible' : 'hidden'">
    {{ mensaje }}
  </div>

  <button 
    class="btn-reintentar" 
    (click)="reiniciarJuego()"
    [style.visibility]="intentos === 0 ? 'visible' : 'hidden'">
    Jugar de Nuevo
  </button>



  <div class="piano">

    <div 
      class="nota" 
      [ngClass]="[
        usarColores ? nota.toLowerCase() : '',
        nota === notaActiva ? 'activa' : ''
      ]"
      *ngFor="let nota of notas" 
      (click)="!verificandoNotas && tocarNota(nota)"
      [class.desactivada]="verificandoNotas">
      {{ nota }}
    </div>

  </div>

</div>
