<app-header></app-header>
<div class="fondo">
  <div class="chat-wrapper">
    <div class="chat-box" #chatBox>
      <div *ngFor="let mensaje of mensajes(); trackBy: trackById" 
           [class.mio]="mensaje.id_usuario === miUsuario?.email" 
           [class.otro]="mensaje.id_usuario !== miUsuario?.email">
        <div class="mensaje">
          <div class="contenido">
            <p class="meta">
              <span *ngIf="mensaje.id_usuario !== miUsuario?.email">
                {{ mensaje.id_usuario }} - 
              </span>
              {{ mensaje.created_at | date:'short' }}
            </p>
            <p class="texto">{{ mensaje.mensaje }}</p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="chat-input">
      <input [(ngModel)]="mensaje" placeholder="Escribí un mensaje..." (keydown.enter)="enviar()"/>
      <button (click)="enviar()" (keydown.enter)="enviar()" class="btn-violet">Enviar</button>
    </div>
  </div>
</div>
