@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

h1 {
  font-family: 'Poppins', sans-serif;
}

.bg-light-purple {
  background-color: #e0b3ff;
}

.user-info {
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 1000;
}

.user-bienvenido {
  font-weight: 500;
  color: #5e2373;
  font-size: 0.9rem;
  white-space: nowrap;
}

.btn-violet {
  background-color: #8e44ad;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-violet:hover {
  background-color: #732d91;
  transform: scale(1.05);
}

.btn-violet:active {
  background-color: #5e2373;
  transform: scale(0.95);
}