
<div class="home-container">
  <h2>Juegos Disponibles</h2>
  
  <div class="cards-container">
    <div class="card">
      <h3>Ahorcado</h3>
      <button (click)="jugarAhorcado()">Jugar</button>
    </div>
    
    <div class="card">
      <h3>Mayor o Menor</h3>
      <button (click)="jugarMayorMenor()">Jugar</button>
    </div>
    
    <div class="card">
      <h3>Preguntados</h3>
      <button (click)="jugarPreguntados()">Jugar</button>
    </div>
    
    <div class="card">
      <h3>Mi Juego</h3>
      <button (click)="jugarMiJuego()">Jugar</button>
    </div>
  </div>
</div>

<!-- <h2>Usuarios</h2> -->
<!-- <table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Edad</th>
      <th>authId</th>
      <th>Mail</th>
      <th>Foto</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of usersdata; index as i">
      <td>{{ user.name }}</td>
      <td>{{ user.age }}</td>
      <td>{{ user.authId }}</td>
      <td>{{ user.mail ? user.mail : 'No se encontró correo en la base de datos' }}</td>
      <td>
        <img class="avatar" [src]="getAvatarUrl(user.avatarUrl)" alt="Foto de usuario">
      </td>
    </tr>
  </tbody>
</table> -->
