<app-header></app-header>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10 position-relative">

      <div class="game-container p-4 shadow-lg fondo-negro">

      <div class="top-bar d-flex justify-content-between align-items-center mb-3">
        <div class="vidas">Vidas: {{ vidas }}</div>

        <div *ngIf="!usuarioEmail" class="login">
          <p>Sumá tus puntos!</p>
          <button (click)="irALogin()" class="btn-violet">Logeate aca</button>
        </div>
      </div>

        <div *ngIf="juegoTerminado" class="puntaje-final text-center mb-4">
          <h2>Puntaje final: {{ puntos }}</h2>
        </div>

        <div class="carta-container text-center mb-4" *ngIf="cartaActual">
          <div class="carta">
            <img [src]="obtenerImagenPalo(cartaActual.palo)" alt="{{ cartaActual.palo }}" class="palo">
            <div class="valor">{{ cartaActual.valor }}</div>
          </div>
        </div>

        <div class="text-center mb-4 jugada-anterior">
        <p *ngIf="jugadaAcertada !== null">
            Jugada anterior: {{ jugadaAcertada ? '✅' : '❌' }}
        </p>
        <p *ngIf="esIgual">Era igual. No se pierde ni se gana.</p>
        </div>

        <div class="siguiente-carta text-center mb-4">
          <p>La siguiente carta es...</p>
        </div>

        <div class="teclado d-flex justify-content-center gap-2 mb-4">
          <button (click)="verificarEleccion('menor')" class="btn-violet">Menor</button>
          <button (click)="verificarEleccion('mayor')" class="btn-violet">Mayor</button>
        </div>

        <div class="estado text-center mt-3">
          <p>Puntaje: {{ puntos }}</p>
          <button (click)="iniciarJuego()" class="btn-secondary-violet">Reiniciar</button>
        </div>
        
        <div *ngIf="mostrarRanking" class="cuadro-puntaje" id="ranking">
          <h3>🏆 Mejores puntajes</h3>

          <ul>
            <li *ngIf="puntajes.length === 0">Sin datos aún</li>
            <li *ngFor="let p of puntajes">
              {{ p.email }} - {{ p.puntos }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>