<div class="header">
    <img src="monstruo.png" alt="Izquierda" class="monster" />
    <h1>Bienvenido a la Sala de Juegos</h1>
    <img src="monstruo.png" alt="Derecha" class="monster" />
  </div>
  
  <div class="botones">
    <button type="button" (click)="irAQuienSoy()">Quien soy?</button>
    <button type="button" (click)="irAHome()">Home</button>
    <button type="button" (click)="irALogin()">Login</button>
    <button type="button" (click)="irARegister()">Registro</button>
  </div>
  
  <router-outlet />
  