.btn-violet {
    background-color: #8A2BE2;
    border-color: darken(#8A2BE2, 5%);
    color: #fff;
}


.bg-violet {
    background-color: #8A2BE2 !important;
}


.btn-secondary-violet {
    background-color: lighten(#8A2BE2, 35%);
    color: #8A2BE2;
    border-color: lighten(#8A2BE2, 30%);
}