<app-header></app-header>

<div class="container mt-4 d-flex justify-content-center">
  <div class="card bg-light-purple text-white p-4 rounded-4 shadow w-100" style="max-width: 600px;">
    <h2 class="mb-4 text-center">Encuesta</h2>

    <div *ngIf="mensaje" class="alert alert-info text-center">
      {{ mensaje }}
    </div>

    <form *ngIf="!mensaje" [formGroup]="form" (ngSubmit)="enviarForm()">


      <div class="mb-3">
        <label class="form-label">Email</label>

        <!-- Solo lectura -->

        <!-- <input type="email" class="form-control" formControlName="email" readonly> -->

        <!--  Se puede moficicar y y tiene un VALIDADOR para ver si existe en Supabase -->

        <input type="email" class="form-control" formControlName="email">

        <div *ngIf="form.get('email')?.hasError('required') && form.get('email')?.touched" class="text-danger small">
          Campo obligatorio
        </div>
        <div *ngIf="form.get('email')?.hasError('email') && form.get('email')?.touched" class="text-danger small">
          Email no válido
        </div>
        <div *ngIf="form.get('email')?.hasError('usuarioNoExiste') && form.get('email')?.touched" class="text-danger small">
          {{ form.get('email')?.getError('usuarioNoExiste') }}
        </div>
      </div>


      <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control" formControlName="nombre">
        <div *ngIf="form.get('nombre')?.hasError('required') && form.get('nombre')?.touched" class="text-danger small">
          Campo obligatorio
        </div>
        <div *ngIf="form.get('nombre')?.hasError('nombreInvalido') && form.get('nombre')?.touched" class="text-danger small">
          {{ form.get('nombre')?.getError('nombreInvalido') }}
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Apellido</label>
        <input type="text" class="form-control" formControlName="apellido">
        <div *ngIf="form.get('apellido')?.hasError('required') && form.get('apellido')?.touched" class="text-danger small">
          Campo obligatorio
        </div>
        <div *ngIf="form.get('apellido')?.hasError('nombreInvalido') && form.get('apellido')?.touched" class="text-danger small">
          {{ form.get('apellido')?.getError('nombreInvalido') }}
        </div>
      </div>

      
      <div class="mb-3">
        <label class="form-label">Edad</label>
        <input type="number" class="form-control" formControlName="edad">
        <div *ngIf="form.get('edad')?.hasError('edadFueraDeRango') && form.get('edad')?.touched" class="text-danger small">
          {{ form.get('edad')?.getError('edadFueraDeRango') }}
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Teléfono</label>
        <input type="text" class="form-control" formControlName="telefono">
        <div *ngIf="form.get('telefono')?.hasError('telefonoInvalido') && form.get('telefono')?.touched" class="text-danger small">
          {{ form.get('telefono')?.getError('telefonoInvalido') }}
        </div>
      </div>


      <div class="mb-3">
        <label class="form-label">¿Qué juego te gustó más?</label><br>
        <div class="form-check" *ngFor="let juego of ['Ahorcado', 'Mayor-Menor', 'Preguntados', 'Melodía Olvidadiza']">
          <input class="form-check-input" type="radio" formControlName="juegoFavorito" [value]="juego" [id]="juego">
          <label class="form-check-label" [for]="juego">{{ juego }}</label>
        </div>
        <div *ngIf="form.get('juegoFavorito')?.invalid && form.get('juegoFavorito')?.touched" class="text-danger small">
          Seleccioná un juego
        </div>
      </div>


      <div class="mb-3">
        <label class="form-label">¿Qué juego o juegos sentís que faltan en esta sala?</label>
        <textarea class="form-control" rows="3" formControlName="juegosFaltantes"></textarea>
        <div *ngIf="form.get('juegosFaltantes')?.invalid && form.get('juegosFaltantes')?.touched" class="text-danger small">
          Este campo es obligatorio
        </div>
      </div>

      <!-- Sugerencias -->
      <div class="mb-3">
        <label class="form-label">Si tenés alguna sugerencia dejala acá:</label>
        <textarea class="form-control" rows="3" formControlName="sugerencias" placeholder="Podés dejar tu sugerencia acá... (opcional)"></textarea>
      </div>



      <div class="mb-3">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" formControlName="aceptaNovedades" id="aceptaNovedades">
          <label class="form-check-label" for="aceptaNovedades">
            Acepto recibir novedades sobre nuevos juegos
          </label>
        </div>
        <div *ngIf="form.get('aceptaNovedades')?.invalid && form.get('aceptaNovedades')?.touched" class="text-danger small">
          Tenés que aceptar para continuar
        </div>
      </div>

      <div *ngIf="mensajeEmailDistinto" class="alert alert-info text-center">
        {{ mensajeEmailDistinto }}
      </div>
      
      <div class="text-center">
        <button type="submit" class="btn btn-violet mt-3 px-4" [disabled]="form.invalid">Enviar</button>
      </div>
    </form>
  </div>
</div>
