<div class="quien-soy-container">
  <h2>Quién Soy</h2>

  <img src="matias.jpg" alt="Foto de Matías Donati" class="foto-alumno" />

  <p><strong>Nombre:</strong> Matías Donati</p>
  <p><strong>Carrera:</strong> Tecnicatura Universitaria en Programación</p>
  <p><strong>Materia:</strong> Laboratorio de Computación IV</p>

  <hr />

  <h3>Mi juego: Caza Rápida</h3>

  <p>
    Para este trabajo práctico voy a hacer un juego el potencial nombre es <strong>Caza Rápida</strong>.
    La idea es simple: van apareciendo objetivos, probablemente monstruitos, por distintos lugares de la pantalla y tenés que atraparlos antes de que desaparezcan.
  </p>

  <p>
        El objetivo del juego es poner a prueba los reflejos y la reacción. Lo voy a desarrollar con Angular y Supabase.
  </p>

  <p>
    Es un juego individual, con puntaje que va subiendo según qué tan rápido respondas. La idea es que sea fácil de jugar, divertido y dinámico.
  </p>
</div>
