<app-header></app-header>
<div class="quien-soy-container">
  <!-- <h2>Quién Soy</h2> -->

  <img src="matias.jpg" alt="Foto de Matías Donati" class="foto-quien-soy" />

  <p><strong>Matías Donati</strong></p>
  <p>Tecnicatura Universitaria en Programación </p>
  <p><strong>Laboratorio de Computación IV</strong></p>

  <hr />

  <h3>Mi juego</h3>

  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui omnis sapiente vero laudantium ipsa autem unde impedit ea! Magnam libero eos corrupti, non sit possimus! Dolorem nemo unde eaque tempore?
  </p>
</div>
