<app-header></app-header>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card p-4 shadow-lg text-center">

        <div class="d-flex justify-content-center gap-2 mb-3">
          <div class="info-box">
            Vidas: {{ vidas }}
          </div>
          <div class="info-box">
            Puntos: {{ puntos }}
          </div>
        </div>

        <div class="mb-4">
          <button 
            class="btn btn-violet me-2" 
            [ngClass]="{ 'activo': nivelJuego === 17 }"
            [disabled]="nivelJuego === 17"
            (click)="setearNivel(17)">
            Fácil
          </button>

          <button 
            class="btn btn-violet me-2" 
            [ngClass]="{ 'activo': nivelJuego === 10 }"
            [disabled]="nivelJuego === 10"
            (click)="setearNivel(10)">
            Medio
          </button>

          <button 
            class="btn btn-violet" 
            [ngClass]="{ 'activo': nivelJuego === 0 }"
            [disabled]="nivelJuego === 0"
            (click)="setearNivel(0)">
            Difícil
          </button>
        </div>

        <div *ngIf="preguntaConteo <= preguntasRestantes" class="pregunta">
          {{ preguntaConteo }} / {{ preguntasRestantes }}
        </div>

        <span *ngIf="darMensaje || juegoTerminado" class="pregunta">
          {{ mensaje }}
        </span>

        <img 
          *ngIf="preguntaActual" 
          [src]="preguntaActual.imagen" 
          [alt]="preguntaActual.correcta" 
          class="img-fluid rounded shadow mb-4 personaje-img" />

        <div *ngIf="!juegoTerminado && preguntaActual">
          <div class="pregunta">¿Quién es?</div>
          <div *ngFor="let opcion of preguntaActual.opciones">
            <button 
              class="btn btn-violet w-100 mb-2" 
              (click)="verificarRespuesta(opcion)" 
              [disabled]="respuestasDeshabilitadas || vidas === 0">
              {{ opcion }}
            </button>
          </div>
        </div>

        <button 
          *ngIf="juegoTerminado || vidas === 0" 
          class="btn btn-reiniciar mx-auto mt-4" 
          (click)="reiniciarJuego()">
          Jugar de Nuevo
        </button>

        <div *ngIf="mostrarRanking" class="cuadro-puntaje" id="ranking">
          <h3>🏆 Mejores puntajes - Preguntados</h3>
          <ul>
            <li *ngIf="puntajes.length === 0">Sin datos aún</li>
            <li *ngFor="let p of puntajes">
              {{ p.email }} - {{ p.puntos }}
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
