.card {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
}
h2 {
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  color: #e0b3ff;
  margin-bottom: 30px;
}
span.mb-4 {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  color: #e0b3ff;

  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.pregunta {
  font-size: 1.5rem;
  font-weight: bold;
  color: #e0b3ff;
  margin-bottom: 20px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}


.personaje-img {
  max-height: 400px;
  object-fit: contain;
}

.info-box {
  background-color: #8A2BE2;
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  display: inline-block;
}


.btn-violet {
  background-color: #8A2BE2;
  border: none;
  color: #fff;
  padding: 10px;
  font-weight: bold;
  border-radius: 8px;
  text-transform: uppercase;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-violet:hover {
  background-color: #7A26C4;
  transform: translateY(-2px);
}

.btn-violet:active {
  background-color: #6A1FA7;
  transform: translateY(0px);
}
.btn-reiniciar {
  background-color: #d29bff;
  color: #732ae2;
  font-weight: bold;
  font-size: 0.95rem;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  text-transform: uppercase;
  transition: background-color 0.3s, transform 0.2s;
}

.btn-reiniciar:hover {
  background-color: #c07ef5;
  transform: translateY(-1px);
}

.btn-reiniciar:active {
  background-color: #aa69dd;
  transform: translateY(0);
}

.btn-violet.activo {
  background-color: #ffffff;
  color: #8A2BE2;
  border: 2px solid #8A2BE2;
  font-weight: bold;
}
